<!-- About Section Start -->
<section class="about-section">
    <!-- Top Shape Start -->
    <div class="about-top-shape">
        <img src="static/assets/img/about-shape.png" alt="about shape"/>
    </div>
    <!-- Top Shape End -->
    <!-- Bottom Shape Start -->
    <div class="about-bottom-shape">
        <img src="static/assets/img/about-shape.png" alt="about shape"/>
    </div>
    <!-- Bottom Shape End -->
    <!-- About Top Start -->
    <div class="about-top section_100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-left wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s">
                        <h3> AI to serve</h3>
                        <p>Our system is able to find the best locations of clean groundwater and evaluate the
                            minerals/chemical composition of that water.
                            Then depending on the GPS location of the device, our AI system will predict the best
                            location
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-right wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s">
                        <img src="static/assets/img/map.png" alt="about"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Top End -->

    <!-- About Bottom Start -->
    <div class="about-bottom section_b_100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-right wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s">
                        <img src="static/assets/img/device.png" alt="about"/>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-left wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s">
                        <h3>Hardware to answer</h3>
                        <p>Our handheld device made with poor communities in mind, with no connectivity or secure
                            access to power sources, we use ultra low power components, charged for many weeks
                            within one day of sunlight, with a mission to guide the user to the nearest best well
                            location, using 4 LEDs as guider arrows towards the right direction, and with the
                            ability to change to the next-best location using a single button, it’s a 2” device with
                            a microcomputer and a GPS sensor with lots of locations precalculated by the AI model,
                            aimed to determine the current user location and guide them to the best-nearest
                            location</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Bottom End -->
</section>
<!-- About Section End -->
