<!-- Service Section Start -->
<section class="service-section section_100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12">
                <div class="section-title wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.1s">
                    <h2>Satisfying well constraints</h2>
                </div>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="section-para wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.3s">
                    <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pelle ntesque sit am et tellus
                        blandit. Etiam nec odio vestibul. Etiam nec odio vestibulum est mattis effic iturut.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="service-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                    <div class="service-icon">
                        <i class="fa fa-leaf"></i>
                    </div>
                    <div class="service-title">
                        <h3>Cleanliness</h3>
                    </div>
                    <div class="service-desc">
                        <p>Capitalize on low hanging fruit to identify a ball park value added activity to beta
                            test. Override the digital divide with additional</p>
                    </div>
                    <div class="service-icon-bottom">
                        <i class="fa fa-leaf"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                    <div class="service-icon">
                        <i class="fa fa-cogs"></i>
                    </div>
                    <div class="service-title">
                        <h3>The time needed</h3>
                    </div>
                    <div class="service-desc">
                        <p>The time needed to drill a well: depending on the soil/underground composition, we also
                            don't care if they can drill the well extremely fast, or one week, it doesn't matter
                            that much as long as the time is below a normal limit (maybe 2 weeks)</p>
                    </div>
                    <div class="service-icon-bottom">
                        <i class="fa fa-cogs"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                    <div class="service-icon">
                        <i class="fa fa-hourglass-end"></i>
                    </div>
                    <div class="service-title">
                        <h3>Longevity</h3>
                    </div>
                    <div class="service-desc">
                        <p>how long it will take to produce clean water, depending on water currently available at
                            that location and evaluation of potential upstream sources/ consumption of the village,
                            we choose the best well in terms of longevity while satisfying the minimal constraints
                            (cleanliness and time needed)</p>
                    </div>
                    <div class="service-icon-bottom">
                        <i class="fa fa-hourglass-end"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                    <div class="service-icon">
                        <i class="fa fa-tint"></i>
                    </div>
                    <div class="service-title">
                        <h3>Yield</h3>
                    </div>
                    <div class="service-desc">
                        <p>the water well expected yield, we choose the best well in terms of yield while satisfying
                            the minimal constraints (cleanliness and time needed)</p>
                    </div>
                    <div class="service-icon-bottom">
                        <i class="fa fa-tint"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Service Section End -->
