<!-- Timeline Area Start -->
<section class="timeline-area section_100">
    <div class="about-top-shape">
        <img src="static/assets/img/about-shape.png" alt="about shape">
    </div>
    <div class="about-bottom-shape">
        <img src="static/assets/img/about-shape.png" alt="about shape">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ui-timline-container">
                    <div class="ui-timeline">
                        <div class="tl-item">
                            <div class="tl-body">
                                <div class="tl-entry">
                                    <div class="tl-caption">
                                        <p>Our <br> Journey</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tl-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                            <div class="tl-body">
                                <div class="tl-entry">
                                    <div class="tl-time">
                                        2020
                                    </div>
                                    <div class="tl-icon"></div>
                                    <div class="tl-content">
                                        <h3 class="tl-tile">Startup Consultation</h3>
                                        <h4 class="tl-date">March 26</h4>
                                        <p>
                                            Interdum iusto pulvinar elit.accusantium debitis voluptatem dolore
                                            excepturi
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tl-item alt wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                            <div class="tl-body">
                                <div class="tl-entry">
                                    <div class="tl-time">
                                        2019
                                    </div>
                                    <div class="tl-icon"></div>
                                    <div class="tl-content">
                                        <h3 class="tl-tile">Audit & assurance</h3>
                                        <h4 class="tl-date">February 19</h4>
                                        <p>
                                            Interdum iusto pulvinar elit.accusantium debitis voluptatem dolore
                                            excepturi
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tl-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                            <div class="tl-body">
                                <div class="tl-entry">
                                    <div class="tl-time">
                                        2018
                                    </div>
                                    <div class="tl-icon"></div>
                                    <div class="tl-content">
                                        <h3 class="tl-tile">Expert Team Mates</h3>
                                        <h4 class="tl-date">April 04</h4>
                                        <p>
                                            Interdum iusto pulvinar elit.accusantium debitis voluptatem dolore
                                            excepturi
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Timeline Area End -->
